<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Igpay Atinizedlay</title>
  </head>
  <body>
    <h1>Igpay Atinizedlay!</h1>
    <h2><%= @pl_text.piglatinize(params[:user_phrase]) %></h2>
  </body>
</html>