<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer!</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form action='/piglatinize' method='POST'>
      <label for='user_phrase'>Enter your phrase:</label>
      <p><input name='user_phrase' type='text' /></p>
      <p><input title='Pig Latinize!' type='submit' /></p>
    </form>
  
  </body>
</html>